{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":32,"column":18},"end":{"row":32,"column":18},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"48ff22cbc1c74aa44da915cd2d07a051ed0dfb08","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1571428963517}